In [ ]:
#30jan

In [1]:
#python is the programming lang. obeys scripting and oops
#scripting is that coding or lines of code which doesnt obey concepts of oops prog lang

In [ ]:
a=10
#a is variable
"""python variable is use to store some value in it """

"""or if there are 100 line of data nd we have to use that data  again and again  we will just store that value in  variable and simply call that 
variable ...in this way i will just call the variable rather than writting 100 of lines of data

-> python has ability to know the type of data store in variable ..in other languages we have to mention with data about the data type
like in this example python knows that 10 is integer..we need not to mention here.

In [ ]:
b=10.2
type(b)
#here , on calling the type function it tells the type of data store in variable

In [ ]:
#the data stored within '' or"" is always a string type  ..even if the data is integer and store using "" or'' than it is also a string.
                    
            '''  types of data
        1. string  ( str )  eg : 'this is python' or "this is python"
        2. float   (float)  eg : 10.02
        3. integer ( int )  eg : 5, -5,0 etc
        4. boolean ( bool ) eg : true , false .. here true is internaly 1 and false is 0
        5. complex(complex) eg : 8+3j or 8+3J ..here 8 is real no. and 3 is imaginary no.

In [8]:
x= 5+4j
type(x)

complex

In [9]:
x.real

5.0

In [10]:
x.imag

4.0

In [11]:
#print function usage
print(x)

(5+4j)

In [12]:
print("khushi")

khushi

In [13]:
print('print')

print

In [14]:
#therefore, print function is use to print some value present in varialble , within print func. brackets , within "" or'' of print func.

In [15]:
'''for finding the charaters in the string''' #using indexing
'''indexing can be done in foward as well as backward way in foward way it starts from zero eg 0,1,2,,3,4 nd in backward way indexing its starts 
from last character of string like -5,-4,-3,-2,-1'''
s='khushi'
s[0]

'k'

In [17]:
s[4]

'h'

In [18]:
s[-2]

'h'

In [20]:
s[0:4] # this is known as slicing ..in this eg. 0 is lower bound and 4 is upper bound

'khus'

In [27]:
s[-4:-1]

'ush'

In [28]:
s[0:7:2] # here 2 is 3rd parameter represents the jump

'kuh'

In [29]:
s[::2]

'kuh'

In [30]:
s[::-1]

'ihsuhk'

In [37]:
s[-1:-7:-1]

'ihsuhk'

In [33]:
s[-1:-5]

''

In [35]:
s[-1:-5:-2]

'is'

In [38]:
s[-90]

IndexError: string index out of range

In [ ]:
s[:-90:-1]  '''in the above case we want to find out particular index i.e -90 which is not present whereas in this case we alot range not a particular 
             index

In [ ]:
p=100 '''in this case if we want to assign index to integer 1 ..it is not possible bcs it is stored in memory as one where as we can find index of 
character of string bcs the data of string is stored in memory in  a way that all characters hve particular index
if we add '' to 100 .. now 100 become a string ..now we can use concept of index and slicing here

In [ ]:
#the cell where output come is known as console.

In [44]:
f='sehaj is a boy '
len(f)

15

In [46]:
f.count('a')

2

In [47]:
f.find('a') # note that there are 2 'a' in the sentence but find fuction will always return the lowest index of repeting character

3

In [48]:
f.upper()

'SEHAJ IS A BOY '

In [49]:
f.lower()

'sehaj is a boy '

In [50]:
f.title()

'Sehaj Is A Boy '

In [51]:
f.capitalize()

'Sehaj is a boy '

In [53]:
''' in string 
we have f='sehaj' and we want to do concatenation here i.e f+1 ..this is not possible ...to conactenate both we have to convert integer into str.
whereas we can easily add or concatenate float and integers
below is the example:   '''

f='sehaj'
print(f+1)

TypeError: can only concatenate str (not "int") to str

In [54]:
# whereas 
f=10.02
d=2
f+d

12.02

In [56]:
f='sehaj'
f*3

'sehajsehajsehaj'